.indigo {
  background-color: indigo;
}

.lavender {
  background-color: rgb(128, 106, 185);
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.white {
  background-color: white;
}
